<!-- Footer du site web -->
<footer>
    <div class="wrapper">
        &copy; 2022, Lenifia. Tous droits réservés 
         {{#if user}}
            <span> - Admin [ {{adminName}} ]</span>
         {{/if}}
    </div>
</footer>