
<div class="wrapper">
    <section>
        <h2>Connexion</h2>

        <form id="form-connexion" class="form-authentification">
            <label for="input-courriel">Courriel</label>
            <input type="text" id="input-courriel">
            <label for="input-mot-de-passe">Mot de passe</label>
            <input type="password" id="input-mot-de-passe">
            <input type="submit" value="Connexion">
        </form>
    </section>
</div>